@page
@model IndexModel
@{
    ViewData["Title"] = "3DS Samples";
}

<div class="text-center">
    <h1 class="display-4">3DS Samples</h1>
    <div class="jumbotron" style="background-color: white;">
        <a class="logo-dark" href="https://www.agilisa.com/" title="Agilisa Technologies" rel="home"><img style="width: 300px;" src="https://webapi.agilpay.net/AgilPay_logo.png" alt="Agilpay"></a>
        <p class="lead">AgilPay is a secure high performance Payment Gateway powering agile business on a connected world </p>
        <p><a href="https://www.agilisa.com/" class="btn btn-primary btn-lg">Learn more »</a></p>
    </div>
    <p>Learn about <a href="https://docs.3dsintegrator.com/docs/">3DS handling</a>.</p>
</div>
