@page
@model IndexModel
@{
    ViewData["Title"] = "3DS Samples";
}

<div class="text-center">
    <h1 class="display-4">3DS Samples</h1>
    <p>Learn about <a href="https://docs.3dsintegrator.com/docs/">3DS handling</a>.</p>
</div>
