@page
@model Test_Shop_Razor.Pages.ThreeDSMainModel
@{
}
<div style="width:80%; margin:0 auto;">
    <h2>Esta pagina simula la aplicacion que enviara la informacion de Pago (Main Page)</h2>

    <div class="alert alert-info">Este formulario es para simular el proceso de autenticación 3DSecure.</div>

    <form id="billing-form" action="/ThreeDSProcess" method="POST" >
        <!-- Add the data-threeds="" DOM elements tags in your payment form-->
        <div>
            <label>Amount</label>
            <input type="text" name="amount" value="10" />
        </div>
        <div>
            <label>Card No.</label>
            <input type="text" name="pan" value="" maxlength="16" />
        </div>
        <div>
            <label>Card Expiration Month</label>
            <input type="text" name="month" value="" maxlength="2" />
        </div>
        <div>
            <label>Card Expiration Year</label>
            <input type="text" name="year" value="" maxlength="2" />
        </div>
        <div>
            <label>Success Target URL (web)</label>
            <input type="text" name="successUrl" value="/ThreeDSResult" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
